@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 9px;
  }

  @media (min-width: 768px) {
    html {
      font-size: 8px;
    }
  }

  @media (min-width: 1024px) {
    html {
      font-size: 10px;
    }
  }

  @media (min-width: 1280px) {
    html {
      font-size: 13px;
    }
  }

  @media (min-width: 1536px) {
    html {
      font-size: 15px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    @apply text-gray;
  }
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  a {
    @apply hover:text-green;
  }
}
